<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Home Page</title>
</head>
<body>
	<div th:fragment="sidebar">
		<div class="sidebar" data-color="purple" data-background-color="white"
			data-image="../assets/img/sidebar-1.jpg">
			<div class="logo">
				<a href="home_admin" class="simple-text logo-normal"> Admin
					Dashboard </a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item"><a class="nav-link" href="/admin/home_admin"> <i
							class="material-icons">home</i> Home
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/admin/gestionearticoli"> <i class="material-icons">dashboard</i>
							Gestione articoli
					</a></li>
					<li class="nav-item "><a class="nav-link"
						href="/admin/gestioneordini"> <i class="material-icons">content_paste</i>
							Gestione ordini
					</a></li>
					<li class="nav-item "><a class="nav-link"
						href="/admin/gestioneutenti"> <i class="material-icons">person</i>
							Gestione utenti
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
