<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base_layout">

<head>
<meta charset="utf-8" />
<title>Gestione articoli</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title">Aggiungi un nuovo articolo</h4>
							<p class="card-category">Compila i campi per aggiungere un
								nuovo articolo</p>
						</div>
						<div class="card-body">
							<form th:action="@{/admin/add_articolo}" th:object="${articolo}"
								method="post" id="userForm">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">Marca</label> <input
												type="text" name="marca" id="marca" class="form-control"
												autofocus>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">Modello</label> <input
												type="text" name="modello" id="modello" class="form-control"
												autofocus th:field="*{modello}" required>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">Prezzo</label> <input
												type="number" name="prezzo" id="prezzo" class="form-control"
												step="0.25" th:field="*{prezzo}" required>
										</div>
									</div>
								</div>

								<button type="submit" class="btn btn-primary pull-right">Aggiungi</button>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-profile">
						<div class="card-body">
							<h6 class="card-category text-gray">Ultimo prodotto aggiunto</h6>
							<h4 class="card-title"
								th:if="${listaArticoli != null and listaArticoli.size()>0}"
								th:text="'Id #' + ${listaArticoli.get(listaArticoli.size()-1).idArticolo}"></h4>
							<div class="card-description"
								th:if="${listaArticoli != null and listaArticoli.size()>0}">
								<th:block
									th:text="'Modello: ' + ${listaArticoli.get(listaArticoli.size()-1).marca}" />
								<br>
								<th:block
									th:text="'Marca: ' + ${listaArticoli.get(listaArticoli.size()-1).modello}" />
								<br>
								<th:block
									th:text="'Prezzo: ' + ${listaArticoli.get(listaArticoli.size()-1).prezzo}" />
							</div>
							<div class="card-description"
								th:if="${listaArticoli == null or listaArticoli.size()==0}">
								<th:block
									th:if="${listaArticoli == null or listaArticoli.size()==0}"
									th:text="'Nessun prodotto disponibile'" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-warning">
							<h4 class="card-title">Articoli disponibili</h4>

						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class="text-warning">
										<tr>
											<th style="width: 200px;">ID</th>
											<th style="width: 200px;">Marca</th>
											<th style="width: 200px;">Modello</th>
											<th style="width: 200px;">Prezzo</th>
											<th style="width: 200px;">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="articolo: ${listaArticoli}">
											<td th:text="${articolo.idArticolo}"></td>
											<td th:text="${articolo.marca}"></td>
											<td th:text="${articolo.modello}"></td>
											<td th:text="${articolo.prezzo}">&euro;</td>
											<td><a
												th:href="@{|/admin/remove_articoli/${articolo.idArticolo}|}"><button
														type="submit" class="btn btn-danger pull-left btn-sm">
														<span class="material-icons mr-2"> delete_outline </span>Elimina
														articolo
														<div class="ripple-container"></div>
													</button></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>