<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base_layout">

<head>
<meta charset="utf-8" />
<title>Lista ordini</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
			<div class="col-md-3" style="margin: 0 auto;">
					<form class="navbar-form" method="post" id="searchOrderForm" th:action="@{/admin/gestioneordini}">
						<div class="bmd-form-group input-group no-border">
							<input name="keyword" type="text"
								th:value="${_keyword} ? ${_keyword} : ''" class="form-control"
								placeholder="Search...">
							<button type="submit"
								class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i>
								<div class="ripple-container"></div>
							</button>
						</div>
					</form>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title ">Ordini effettuati</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<tr>
											<th style="width: 200px;">ID</th>
											<th style="width: 200px;">Data</th>
											<th style="width: 200px;">Totale</th>
											<th style="width: 200px;">Username Utente</th>
											<th style="width: 200px;">&nbsp;</th>
											<th style="width: 200px;">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="ordine : ${listaOrdini}">
											<td th:text="${ordine.idOrdine}"></td>
											<td th:text="${#dates.format(ordine.data, 'dd/MM/yyyy')}"></td>
											<td th:text="'&euro; ' + ${ordine.totale}"></td>
											<td th:text="${ordine.utente.username}"></td>
											<td>
												<!-- Button trigger modal -->
												<button type="button" class="btn btn-primary btn-sm"
													data-toggle="modal"
													th:data-target="'#Modal'+${ordine.idOrdine}">
													<span class="material-icons mr-2">list</span> Visualizza
													articoli
												</button> <!-- Modal -->
												<div class="modal fade " th:id="'Modal'+${ordine.idOrdine}"
													tabindex="-1" role="dialog"
													aria-labelledby="exampleModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-lg" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">
																	Lista articoli dell'ordine avente id #<span
																		th:text="${ordine.idOrdine}"></span>
																</h5>
																<button type="button" class="close" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<div class="card-body">
																	<div class="table-responsive">
																		<table class="table">
																			<thead class=" text-primary">
																				<tr>
																					<th style="width: 200px;">ID articolo</th>
																					<th style="width: 200px;">Marca</th>
																					<th style="width: 200px;">Modello</th>
																					<th style="width: 200px;">Prezzo</th>
																					<th style="width: 200px;">Quantit&agrave;</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr
																					th:each="articolo: ${ordine.getArticoliFromOrderId(ordine.idOrdine)}">
																					<td th:text="${articolo.idArticolo}"></td>
																					<td th:text="${articolo.marca}"></td>
																					<td th:text="${articolo.modello}"></td>
																					<td th:text="'&euro; ' + ${articolo.prezzo}"></td>
																					<td th:text="${ordine.getQuantita(ordine.idOrdine, articolo.idArticolo)}"></td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-primary"
																	data-dismiss="modal">Ok</button>
															</div>
														</div>
													</div>
												</div>
											</td>
											<td><a th:href="@{|/admin/admdel_ordine/${ordine.idOrdine}|}"><button
														type="submit" class="btn btn-danger pull-left btn-sm">
														<span class="material-icons mr-2"> delete_outline </span>Elimina
														ordine
														<div class="ripple-container"></div>
													</button></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
