<footer class="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="/home">
                  Home
                </a>
              </li>
              <li>
                <a href="/acquisti?ok=false">
                  Articoli
                </a>
              </li>
              <li>
                <a href="/carrello">
                  Carrello
                </a>
              </li>
              <li>
                <a href="/ordini">
                  Ordini
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
           	&copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <span class="material-icons">favorite</span> by
            Valentin &amp; Riccardo for a better web.
          </div>
        </div>
      </footer>