<footer class="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="admin/home_admin">
                  Home
                </a>
              </li>
              <li>
                <a href="/admin/gestionearticoli">
                  Gestione Articoli
                </a>
              </li>
              <li>
                <a href="/admin/gestioneordini">
                  Gestione Ordini
                </a>
              </li>
              <li>
                <a href="/admin/gestionutenti">
                  Gestione Utenti
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
           	&copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <span class="material-icons">favorite</span> by
            Valentin &amp; Riccardo for a better web.
          </div>
        </div>
      </footer>