<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Home Page</title>
</head>
<body>
	<div th:fragment="sidebar">
		<div class="sidebar" data-color="purple" data-background-color="white"
			th:attr="data-image='@{../assets/img/sidebar-1.jpg}'">
			<div class="logo">
				<a href="/home" class="simple-text logo-normal">I-SHOP</a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item"><a class="nav-link" href="/home"> <i
							class="material-icons">home</i> Home
					</a></li>
					<li class="nav-item "><a class="nav-link"
						href="/acquisti?ok=false"> <i class="material-icons">business_center</i>
							Articoli
					</a></li>
					<li class="nav-item "><a class="nav-link" href="/carrello">
							<i class="material-icons">shopping_cart</i> Carrello
					</a></li>
					<li class="nav-item "><a class="nav-link" href="/ordini">
							<i class="material-icons">wysiwyg</i> I miei ordini
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>