<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base_layout">

<head>
<meta charset="utf-8" />
<title>Profilo utente</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title">Aggiorna il tuo profilo</h4>
							<p class="card-category">Modifica i campi che desideri
								aggiornare</p>
						</div>
						<div class="card-body">
							<form th:action="@{/utente}" th:object="${utente_log}"
								method="post" id="updateUserForm">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Username</label> <input
												type="text" name="username" id="username"
												class="form-control" th:value="*{username}" disabled>
											<input type="hidden" th:field="*{username}">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Nome</label> <input
												type="text" name="nome" id="nome" class="form-control"
												autofocus th:field="*{nome}" required>
										</div>
										<div class="control-label help-block with-errors text-danger"
											id="infoNome"></div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Cognome</label> <input
												type="text" name="cognome" id="cognome" class="form-control"
												th:field="*{cognome}" required>
										</div>
										<div class="control-label help-block with-errors text-danger"
											id="infoCognome"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Indirizzo</label> <input
												type="text" name="indirizzo" id="indirizzo"
												class="form-control" th:field="*{indirizzo}" required>
										</div>
										<div class="control-label help-block with-errors text-danger"
											id="infoIndirizzo"></div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">CAP</label> <input
												type="text" name="cap" id="cap" maxlength="5"
												class="form-control" th:field="*{cap}" required>
										</div>
										<div class="control-label help-block with-errors text-danger" id="infoCap"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Indirizzo e-mail</label> <input
												type="text" name="mail" id="mail" class="form-control"
												th:field="*{email}" required>
										</div>
										<div class="control-label help-block with-errors text-danger"
											id="infoEmail"></div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Data di nascita</label> <input
												type="text" name="nascita" id="nascita" class="form-control"
												th:value="${#dates.format(utente_log.nascita, 'dd/MM/yyyy')}" disabled>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Password</label> <input
												type="password" name="password" id="password"
												class="form-control" autocomplete="new-password"
												th:field="*{password}" required>
										</div>
										<div class="control-label help-block with-errors text-danger"
											id="infoPassword"></div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary pull-right">Aggiorna
									profilo</button>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-profile">
						<div class="card-body">
							<h6 class="card-category text-gray"
								th:text="${utente_log.username}"></h6>
							<h4 class="card-title"
								th:text="${utente_log.nome} + ' ' + ${utente_log.cognome}"></h4>
							<div class="card-description">
								<th:block th:text="'Email: ' + ${utente_log.email}" />
								<br>
								<th:block
									th:text="'Indirizzo: ' + ${utente_log.indirizzo} + ' - ' + ${utente_log.cap}" />
								<br>
								<th:block
									th:text="'Data di nascita: ' + ${#dates.format(utente_log.nascita, 'dd/MM/yyyy')}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>