<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="perfect-scrollbar-on">

<head th:if="${admin_log}!=null" th:replace="fragments/cdn_admin :: cdn_admin"></head>
<head th:if="${utente_log}!=null" th:replace="fragments/cdn :: cdn"></head>

<body>
	<div class="wrapper">
		<div th:if="${utente_log}!=null" th:include="fragments/user_sidebar :: sidebar"></div>
		<div th:if="${admin_log}!=null" th:include="admin/admin_sidebar :: sidebar"></div>
		<div class="main-panel">
			<div th:if="${utente_log}!=null" th:include="fragments/user_nav :: nav"></div>
			<div th:if="${admin_log}!=null" th:include="admin/admin_nav :: nav"></div>
			
			<div th:include="fragments/logout_modal :: logout_modal"></div>
			<div class="content">
				<div layout:fragment="content"></div>
			</div>
			<footer class="footer" th:if="${utente_log}!=null" th:include="fragments/footer :: footer"></footer>
			<footer class="footer" th:if="${admin_log}!=null" th:include="fragments/footer_admin :: footer"></footer>
		</div>
	</div>
	
</body>
</html>