<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base_layout">

<head>
<meta charset="utf-8" />
<title>Titolo di prova</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title ">Articoli disponibili nel carrello</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class="text-primary">
										<tr>
											<th style="width: 200px;">Marca</th>
											<th style="width: 200px;">Modello</th>
											<th style="width: 200px;">Quantit&agrave;</th>
											<th style="width: 200px;">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="articolo: ${listaArticoli}">
											<td th:text="${articolo[0]}"></td>
											<td th:text="${articolo[1]}"></td>
											<td th:text="${articolo[3]}">&euro;</td>
											<td><a th:href="@{|/remove/${articolo[4]}|}"><button
														type="button" class="btn btn-danger btn-sm">
														<span class="material-icons mr-2"> delete_outline </span>Rimuovi dal carrello
													</button></a></td>
										</tr>
									</tbody>
								</table>
								<a th:href="@{/checkout}">
									<button type="button" class="btn btn-primary">Checkout</button>
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>